<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>Delicious restaurant</title>
    <script src="../js/base.js"></script>
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <link rel="stylesheet" href="../styles/index.css"/>
    <link rel="stylesheet" href="../styles/address-edit.css"/>
</head>
<body>
<div id="address_edit" class="app">
    <div class="divHead">
        <div class="divTitle">
            <i class="el-icon-arrow-left" @click="goBack"></i>{{ title }}
        </div>
    </div>
    <div class="divContent">
        <div class="divItem">
            <span>Имя：</span>
            <el-input v-model="form.consignee" maxlength="10" placeholder="Пожалуйста, заполните имя грузополучателя" class="inputUser"/>
        </div>
        <div class="divItem">
            <span>Телефона:</span>
            <el-input v-model="form.phone" maxlength="20" placeholder="Пожалуйста, укажите номер мобильного телефона получателя"/>
        </div>
        <div class="divItem">
            <span>Адрес:</span>
            <el-input v-model="form.detail" maxlength="140" placeholder="Пожалуйста, введите адрес доставки"/>
        </div>

        <div class="divSave" @click="saveAddress">Сохранить адрес</div>
        <div class="divDelete" @click="deleteAddress" v-if="id">Удалить адрес</div>
    </div>
</div>

<!-- JS 依赖 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<script src="../../backend/plugins/element-ui/index.js"></script>
<script src="../js/vant.min.js"></script>
<script src="../js/common.js"></script>
<script src="../api/address.js"></script>
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="../js/request.js"></script>

<script>
    new Vue({
        el: "#address_edit",
        data() {
            return {
                title: 'Добавить адрес доставки',
                form: {
                    consignee: '',
                    phone: '',
                    detail: ''
                },
                id: undefined
            };
        },
        created() {
            const params = new URLSearchParams(window.location.search);
            const from = params.get("from");

            if (from === 'order') {
                sessionStorage.setItem("fromOrder", '1');
            }

            const raw = sessionStorage.getItem("editAddress");
            if (raw) {
                const address = JSON.parse(raw);
                this.form = { ...address };
                this.id = address.id;
                this.title = 'Изменить адрес доставки';
            }
        },
        methods: {
            goBack() {
                history.go(-1);
            },
            async saveAddress() {
                const { consignee, phone, detail } = this.form;

                if (!consignee) return this.$notify({ type: 'warning', message: 'Пожалуйста, введите контактное лицо' });
                if (!phone) return this.$notify({ type: 'warning', message: 'Пожалуйста, введите номер мобильного телефона' });
                if (!detail) return this.$notify({ type: 'warning', message: 'Пожалуйста, введите адрес доставки' });

                const reg = /^7[0-9]\d{9}$/;
                if (!reg.test(phone)) {
                    return this.$notify({ type: 'warning', message: 'Номер мобильного телефона некорректен' });
                }

                let res = this.id
                    ? await updateAddressApi(this.form)
                    : await addAddressApi(this.form);

                if (res.code === 1) {
                    sessionStorage.removeItem("editAddress");

                    const fromOrder = sessionStorage.getItem("fromOrder") === '1';
                    if (fromOrder) {
                        sessionStorage.setItem("selectedAddress", JSON.stringify(res.data || this.form));
                        window.location.replace('/front/page/address.html?from=order');
                    } else {
                        window.location.replace('/front/page/address.html');
                    }
                } else {
                    this.$notify({ type: 'warning', message: res.msg || 'Ошибка при сохранении адреса' });
                }
            },
            deleteAddress() {
                this.$dialog.confirm({
                    title: 'Подтвердить удаление',
                    message: 'Вы уверены, что хотите удалить текущий адрес?',
                }).then(async () => {
                    const res = await deleteAddressApi({ ids: this.id });
                    if (res.code === 1) {
                        sessionStorage.removeItem("editAddress");

                        const fromOrder = sessionStorage.getItem("fromOrder") === '1';
                        if (fromOrder) {
                            sessionStorage.setItem("selectedAddress", JSON.stringify(res.data || this.form));
                            window.location.replace('/front/page/address.html?from=order');
                        } else {
                            window.location.replace('/front/page/address.html');
                        }
                    } else {
                        this.$notify({ type: 'warning', message: res.msg || 'Ошибка при удалении адреса' });
                    }
                });
            }
        }
    });
</script>
</body>
</html>
